@import './../../styles/variables.scss';

.container {
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    @include breakpoint(md) {
        width: 100%;
        justify-content: space-around;
    }
    &__infos {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__image {
        display: flex;
        width: 100%;
        justify-content: center;
    }
} 

.flex-direction {
    flex-direction: column !important;
    @include breakpoint(md) {
        flex-direction: row !important;
    }
}